@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 18px;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}


.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.min-height {
    min-height: 80px;
    display: inline-block;
    max-height: 80px;
}

.section {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
}

.clear::after {
    display: block;
    content: "";
    clear: both;
}

header {
    width: 100%;
    padding-bottom: 1%;
}
.header__first {
    background: #e5e5e5;
    padding: 5px;
}


.menu {
    text-align: center;
    padding: 1em;
}

.menu li {
    display: inline-block;
    padding: 0 1em;
}

.grey li a {
    color: #333333;
    transition: all .2s ease;
}

.black li a {
    font-size: 16px;
    color: black;
    transition: all .2s ease;
}

.header__second {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.container__nav__menu {
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
}

img , h1 {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

h1 {
    margin-left: 2vh;
}

h1> a {
    color: #F13C6E;
    font-size: 36px;
}

.first {
    float: left;
}

.second {
    float: right;
    font-size: 16px;
    text-align: right;
    vertical-align: middle;
    padding: 21.5px 0;
}

.second a {
    color: black;
    display: inline-block;
    margin-right: 30px;
}

.callback {
    display: inline-block;
}

.btn {
    padding: 10px 60px;
    background: white;
    border: 1px solid #F13C6E;
    border-radius: 30px;
    font-weight: bold;
    transition: all .6s ease;
}

.tel {
    transition: all .2s ease;
}

.main__section__first {
    background: #E5E5E5;
    background-image: url(../image/back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container__main {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    text-align: left;
}

.main__content {
    width: 30%;
    padding-top: 14%;
    padding-bottom: 14%; ;
}

.main__content > h2 {
    font-size: 48px;
    padding-bottom: 10%;
}

.more__btn {
    display: inline-block;
    border:2px solid #fff;
    color: #fff;
    padding: 10px 80px;
    border-radius: 18px;
    margin-top: 20px;
    transition: all .6s ease;
}

section{
    background: #E5E5E5;
}

h2,h3 {
    font-size: 24px;
}

h4 {
    color: #333333;
}

.container__section__buy > h3 {
    padding-bottom: 80px;
    padding-top: 40px;
}

.cards {
    margin: -40px;
}

.card {
    background: white;
    float: left;
    width: calc(100% / 4 - 80px);
    padding: 40px 10px;
    margin: 40px;
    text-align: center;
}

.card >.card__body> p > b {
    font-size: 21px;
    color: black;
}

.card a {
    display: inline-block;
    border: 1px solid #F13C6E;
    border-radius: 30px;
    padding: 25%;
    color: #fff;
    background: #F13C6E;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 20px;
    transition: all .4s ease;
}

.card .card__body {
    display: inline-block;
    background: #fff;
    border: 0;
    padding: 0;
}

.gift__first {
    background: #F13C6E;
    float: left;
    width: 48%;
    padding: 25px;
    text-align: center;
}

.gift__second {
    background: #F13C6E;
    float: right;
    width: 48%;
    padding: 25px;
    text-align: center;
}

.gift__text {
    display: inline-block;
    text-align: left;
    color: white;
    vertical-align: middle;
    width: calc(100%/2 - 2%);
    max-height: 230px;
    min-height: 230px;
}

.gift__text > p{
    width: 55%;
    padding-bottom: 40px;
}
.gift__first img , .gift__second img{
    width: calc(100/2 - 2%);
    margin: 5% 0;
    margin-left: 10%;
}

.store__map {
    text-align: center;
    padding: 15px 50px;
    border-radius: 30px;
}

.gift__text>h4 {
    padding-bottom: 35px;
    padding-top: 30px;
    font-size: 22px;
    color: white;
}

input[type=email] {
    padding: 14px;
    border-radius: 30px;
    border:3px solid #F13C6E;
    text-align: center;  
    outline: none; 
    transition: all .2s ease;
}

.more__btn {
    margin: 0;
    text-align: center;
}

.impuls {
    display: inline-block;
    background: #fff;
}

.impuls > a {
    width: calc(100%/4 - 40px);
    float: left;
    text-align: center;
    margin: 30px 20px;
}

footer {
    background: #E5E5E5;
    padding-top: 80px;
}

footer  h4 {
    font-size: 16px;
    color: black;
    margin: 60px 0 50px;
}

footer a {
    font-size: 12px;
    color: #333333;
    transition: all .2s ease;
}

footer .container {
    background: #fff;
}

.categories {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.category {
    float: left;
    width: calc(100% / 4);
}

footer li {
    margin: 10px
}

.icons a {
    float: left;
}

.icons svg {
    width: 50%;
}

.red-fill {
    fill: red;
    text-align: center;
    transition: all .2s ease;
}
.blue-fill {
    fill: rgb(90, 90, 167);
    text-align: center;
    transition: all .2s ease;
}
.orange-fill {
    fill: rgb(255, 17, 0);
    vertical-align: middle;
    transition: all .2s ease;
}

.about {
    width: 80%;
    margin: 0 auto;
    padding: 25px 0;
    color: #828282;
}

.about p:nth-child(1) {
    float: left;
    padding-left: 10%;
}
.about p:nth-child(2) {
    float: right;
    padding-right: 10%; ;
}

.btn__black {
    border: 1px solid black;
}

footer > .container {
    width: 100%;
}
